<%- include('./partials/header') %>
<%- include('./partials/nav') %>
<%- include('./partials/loader.ejs') %>



<p>Welcome to <%= title %></p>

<h4>This is the main welcome index page that will run the loader and redirect to
    library bar </h4>

</body>

</html>
<%- include('./partials/footer') %>